.folderComponent {
    padding: 20px;

    background-color: var(--light-interacted);

    /*border: 1px solid var(--light-gray);*/
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    transition: var(--hover-transition-duration);
}
.folderComponent:hover,
.folderComponent:focus {
    background-color: var(--light-interacted);
    border: none;
    box-shadow: 4px 4px 10px 0 #C5CEDA;
}
.folderImage {
    height: calc(var(--index) * 2);
    user-select: none;
}
.textInfoContainer {
    width: calc(var(--index) * 6);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    font-size: calc(var(--index) * 0.7);
}
.filesQuantity {
    color: var(--light-gray);
}