.filedContainer {
	width: 100%;
	margin-top: var(--gap-5);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;
}
.emailInputContainer {
	width: 100%;
	height: var(--input-height);
	padding-inline: 10px;

	background-color: var(--application-background-color);

	border-radius: 5px;
	
	display: flex;
	align-items: center;
	justify-content: flex-start;

	transition-duration: var(--transition-duration-1);

	.fieldTitle {
		color: var(--regular-text-color);
	}
	
	input {
		width: 100%;
		height: 100%;

		background-color: transparent;
		
		border: none;
	}
	
}

.emailInputContainer:focus-within {
	outline: 1px solid var(--application-main-color);
}