.main {
    padding: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.memberInfoSection {
    width: 75%;
    height: 100%;
    padding-right: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1.4fr;
    grid-gap: 20px;
}