.filedContainer {
	width: 100%;
	margin-top: var(--gap-5);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;
}
.passwordInputContainer {
	width: 100%;
	height: var(--input-height);
	padding-inline: 10px calc(var(--input-height));

	background-color: var(--application-background-color);

	border-radius: 5px;
	
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;

	position: relative;

	transition-duration: var(--transition-duration-1);
	
	input {
		width: 100%;
		height: 100%;
		
		background-color: transparent;
		
		border: none;
	}

}
.showPasswordButton {
	width: auto;
	height: var(--input-height);
	aspect-ratio: 1;

	background: none;
	border: none;

	display: grid;
	place-items: center;

	position: absolute;
	right: 0;
	top: 0;

	cursor: pointer;
	user-select: none;

	color: var(--regular-text-color);
}
.eyeIcon,
.eyeSlashedIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	transition-duration: var(--transition-duration-1);
	user-select: none;
	cursor: pointer;
}
.passwordHidden {
	.eyeIcon { opacity: 0; }
	.eyeSlashedIcon { opacity: 1; }
}
.passwordVisible {
	.eyeIcon { opacity: 1; }
	.eyeSlashedIcon { opacity: 0; }
}
.passwordInputContainer:focus-within {
	outline: 1px solid var(--application-main-color);
}

