.newMember {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2;
}
.title {
    height: 20px;
    margin-bottom: 10px;
    color: var(--light-gray);
}
.memberCard {
    width: 100%;
    height: calc(100% - 30px);
    padding: calc(var(--index) * 0.5);

    background-color: var(--light-interacted);

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    transition: var(--hover-transition-duration);
    cursor: pointer;
}
.memberCard:hover {
    filter: drop-shadow(6px 6px 10px rgba(174, 179, 195, 0.50));
}
.textInfo {
    height: 100%;
    padding-top: calc(var(--index) * 0.5);
    display: flex;
    flex-direction: column;
}
.memberName {
    font-size: calc(var(--index) * 0.7);
    font-weight: 700;
}
.memberPosition {
    margin-top: 4px;
    font-size: calc(var(--index) * 0.6);
}
.joinDate {
    font-size: calc(var(--index) * 0.45);
    margin-top: auto;
}
.userAvatarContainer {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 15px;
    overflow: hidden;
}










.avatarContainer {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 15px;

    display: grid;
    place-items: center;

    position: relative;
    overflow: hidden;
}

.userImage {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.userImage.hasImage { display: block; }
