.infoCardListItem {
    width: 100%;
    padding-inline: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}
.infoTypeIcon {
    width: 10%;
    scale: 0.8;
}
.infoLine {
    font-size: calc(var(--index) * 0.7);
}