
@font-face {
    font-family: 'KaushanScript';
    src: url('/fonts/KaushanScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('/fonts/Arial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --index: calc(1vw + 1vh);

    --dark-color: #2e2e2e;
    --light-gray: #aeb3c3;
    --light-color: #f3f3f3;
    --light-interacted: #ffffff;
    --main-color: #3454D1;

    --transition-timing-function: cubic-bezier(.8,0,.2,1);

    --hover-transition-duration: 200ms;
    --change-transition-duration: 300ms;
    --theme-change-transition-duration: 500ms;

    --navigation-z-index: 2;
    --header-z-index: 3;
    --dropdown-z-index: 4
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    width: 100%;
    height: 100%;
}

p, span, h1, h2, h3, h4, h5, a {
    color: var(--dark-color);
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

button, a { cursor: pointer; }