.fileComponent {
    width: 100%;
    aspect-ratio: 1;
    padding: 15px;

    background-color: var(--light-interacted);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.filePreview {
    width: 100%;
    height: auto;
}
.fileName {
    padding: calc(var(--index) * .5) 0;
    font-size: calc(var(--index) * .8);
}