.dateAndTime {
    width: calc(var(--index) * 3);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dateAndTime.withTime .date {
    width: 100%;
    height: auto;
    color: var(--main-color);
    text-align: center;
    font-size: calc(var(--index) * 0.5);
    font-weight: 700;
}
.onlyDate.onlyDate .date {
    width: 100%;
    height: auto;
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
    font-size: calc(var(--index) * 0.6);
    font-weight: 700;
}

.time {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: calc(var(--index) * 0.65);
    font-weight: 700;
}