.experienceCardListItem {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    position: relative;
}
.year {
    width: 10%;
    text-align: center;
}
.infoSeparator {
    width: 2px;
    height: 100%;

    background-color: var(--main-color);

    position: absolute;
    left: 15%;
    top: 0;
    translate: -50% -8px;
}
.infoSeparator::before {
    content: '';
    height: 25%;
    aspect-ratio: 1;

    background-color: var(--main-color);

    border-radius: 50%;

    position: absolute;
    left: 1px;
    top: 10px;
    translate: -50% 0;
}
.infoContainer {
    width: 80%;
}