.greetingComponent {
    width: 100%;
    padding: 18px 18px 18px 40px;

    border-radius: 15px;

    background-color: var(--light-interacted);

    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
}
.greetingTitle {
    font-weight: 700;
}
.subTitle {
    color: var(--main-color);
    font-weight: 700;
}