.searchInputContainer {
    width: calc((100% - 40px) / 3);
    height: calc(var(--index) * 1.5);

    background-color: transparent;

    border: 1px solid var(--light-gray);
    border-radius: calc(var(--index) * 0.3);
    outline: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;
}
.searchInput {
    width: 100%;
    height: 100%;
    padding: 0 calc(var(--index) * 1.5) 0 calc(var(--index) * 0.3);

    background-color: transparent;

    border: none;
    outline: none;

    color: var(--dark-color);

    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
}
.searchInput::placeholder { color: var(--light-gray); }

.searchIcon {
    height: 100%;
    aspect-ratio: 1;
    margin-right: calc(var(--index) * 0.3);
}